<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit order</title>
</head>

<body>
<div th:insert="fragments/general"></div>

<form th:action="@{/orders/{id}/edit(id=${order.getId()})}" th:method="POST" th:object="${order}">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5" id="form1">
                    <div class="form-data">
                        <h3 for="orders-table">Edit order</h3>
                        <div class="mb-3">
                            <label class="form-label" for="client">Client</label>
                            <select th:field="*{clientId}" class="form-control" id="client">
                                <option value="0"> --</option>
                                <option th:each="client : ${clients}"
                                        th:value="${client.id}"
                                        th:text="${client.name}"/>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="date" class="form-label">Date:</label>
                            <input type="date" th:field="*{date}" id="date" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <input type="text" th:field="*{description}" id="description" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount:</label>
                            <input type="number" th:field="*{amount}" id="amount" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="paid">Paid:</label>
                            <input type="checkbox" th:field="*{paid}" id="paid">
                        </div>

                        <div class="mb-3">
                            <input type="submit" value="Save" class="btn btn-primary">
                            <a th:href="@{/orders}">
                                <input type="button" class="btn btn-secondary" value="Cancel"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
