<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit order</title>
</head>

<body>
<div th:insert="fragments/general"></div>

<form th:action="@{/orders/{id}/edit(id=${order.getId()})}" th:method="POST" th:object="${order}">

  <select th:field="*{clientId}">
    <option value="0"> -- </option>
    <option th:each="client : ${clients}"
            th:value="${client.id}"
            th:text="${client.name}"/>
  </select>

  <label for="description">Description:</label>
  <input type="text" th:field="*{description}" id="description">
  <label for="date">Date:</label>

  <input type="date" th:field="*{{date}}" id="date">

  <label for="amount">Amount:</label>
  <input type="number" th:field="*{amount}" id="amount">
  <label for="paid">Paid:</label>
  <input type="checkbox" th:field="*{paid}" id="paid">

  <input type="submit" value="Save">
</form>

</body>
