<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
    <p>
        <a th:href="@{/orders}">Orders</a>
        <a th:href="@{/clients}">Clients</a>
        <a th:href="@{/users}" sec:authorize="hasAuthority('ADMIN')" th:ac>Users</a>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
        <span th:remove="tag" sec:authentication="name" sec:authorize="isAuthenticated()"></span>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Sign out</a>
    </p>
</body>
