<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>

<body>
<div th:insert="~{fragments/general}"></div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${clients.isEmpty()}">
        <td colspan="2">No clients available</td>
    </tr>
    <tr th:each="client : ${clients}">
        <td><span th:text="${client.id}">Id</span></td>
        <td><span th:text="${client.name}">Name</span></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/clients/new}">Add new client</a>
</body>
